openapi: 3.1.0

info:
  title: Paywaz Public API
  version: 2025-01-01
  description: |
    Paywaz Public API.
    Versioned via the `Paywaz-Version` request header.
  license:
    name: Paywaz License
    url: https://github.com/hellopaywaz/paywaz-license

servers:
  - url: https://api.paywaz.com
    description: Production

security:
  - ApiKeyAuth: []

tags:
  - name: Payments
    description: Create and retrieve payments.
  - name: Webhooks
    description: Receive asynchronous payment lifecycle events.

paths:
  /payments:
    post:
      operationId: createPayment
      summary: Create a payment
      description: Initiates a zero-fee crypto or stablecoin payment.
      tags: [Payments]
      parameters:
        - $ref: "#/components/parameters/PaywazVersion"
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
          description: Idempotency key for safely retrying create requests.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePaymentRequest"
      responses:
        "201":
          description: Payment created
          headers:
            Paywaz-Version:
              $ref: "#/components/headers/PaywazVersionServed"
            Deprecation:
              $ref: "#/components/headers/Deprecation"
            Sunset:
              $ref: "#/components/headers/Sunset"
            Link:
              $ref: "#/components/headers/Link"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Payment"

        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "409":
          $ref: "#/components/responses/Conflict"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /payments/{paymentId}:
    get:
      operationId: getPayment
      summary: Retrieve a payment
      tags: [Payments]
      parameters:
        - $ref: "#/components/parameters/PaywazVersion"
        - name: paymentId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Payment retrieved
          headers:
            Paywaz-Version:
              $ref: "#/components/headers/PaywazVersionServed"
            Deprecation:
              $ref: "#/components/headers/Deprecation"
            Sunset:
              $ref: "#/components/headers/Sunset"
            Link:
              $ref: "#/components/headers/Link"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Payment"

        "404":
          description: Payment not found
          headers:
            Paywaz-Version:
              $ref: "#/components/headers/PaywazVersionServed"
            Deprecation:
              $ref: "#/components/headers/Deprecation"
            Sunset:
              $ref: "#/components/headers/Sunset"
            Link:
              $ref: "#/components/headers/Link"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/InternalError"

  /webhooks/payments:
    post:
      operationId: receivePaymentWebhook
      summary: Receive payment webhook events
      description: |
        Receives asynchronous payment lifecycle events from Paywaz.

        ### Webhook Signature Verification
        Paywaz signs webhook events using HMAC-SHA256.

        **Required headers**
        - `Paywaz-Timestamp: <unix_seconds>`
        - `Paywaz-Signature: v1=<hex_signature>`

        **Signing algorithm**
        signature = HMAC_SHA256(
          secret = webhook_secret,
          message = `${timestamp}.${raw_body}`
        )

        **Replay protection**
        Reject events where |now − timestamp| > 300 seconds.
      tags: [Webhooks]
      security: [] # Webhooks are public; authenticity is via signature
      parameters:
        - $ref: "#/components/parameters/PaywazTimestamp"
        - $ref: "#/components/parameters/PaywazSignature"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookEvent"
      responses:
        "200":
          description: Webhook processed successfully
        "400":
          description: Invalid payload or signature
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          description: Signature verification failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: |
        API key auth.
        Use: `Authorization: Bearer <api_key>`

  headers:
    PaywazVersionServed:
      description: API version used to process this request.
      schema:
        type: string
        example: "2025-01-01"

    Deprecation:
      description: Indicates this API version is deprecated.
      schema:
        type: string
        example: "true"

    Sunset:
      description: RFC 1123 date when this API version will be sunset.
      schema:
        type: string
        example: "Sun, 06 Nov 1994 08:49:37 GMT"

    Link:
      description: Link to deprecation policy or migration guide.
      schema:
        type: string
        example: '<https://docs.paywaz.com/deprecations>; rel="deprecation"'

  parameters:
    PaywazVersion:
      name: Paywaz-Version
      in: header
      required: false
      schema:
        type: string
        example: "2025-01-01"
      description: |
        API version to use for this request.
        Defaults to the account's pinned version if omitted.

    PaywazTimestamp:
      name: Paywaz-Timestamp
      in: header
      required: true
      schema:
        type: string
        example: "1734183123"
      description: Unix timestamp in seconds.

    PaywazSignature:
      name: Paywaz-Signature
      in: header
      required: true
      schema:
        type: string
        example: "v1=0123abcd...deadbeef"
      description: |
        HMAC-SHA256 webhook signature.
        Format: `v1=<hex_digest>`

  responses:
    BadRequest:
      description: Invalid request parameters.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            code: "invalid_request"
            message: "amount must be a decimal string"
            requestId: "req_01HZXY..."

    Unauthorized:
      description: Missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            code: "unauthorized"
            message: "Missing or invalid API key"
            requestId: "req_01HZXY..."

    Forbidden:
      description: Not permitted for this API key or account.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            code: "forbidden"
            message: "You do not have access to this resource"
            requestId: "req_01HZXY..."

    Conflict:
      description: Conflict (often idempotency collision).
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            code: "conflict"
            message: "Idempotency-Key was already used with different parameters"
            requestId: "req_01HZXY..."

    RateLimited:
      description: Too many requests.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            code: "rate_limited"
            message: "Too many requests, please retry later"
            requestId: "req_01HZXY..."

    InternalError:
      description: Unexpected server error.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            code: "internal_error"
            message: "An unexpected error occurred"
            requestId: "req_01HZXY..."

  schemas:
    Error:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
          example: "invalid_request"
        message:
          type: string
          example: "amount must be a decimal string"
        requestId:
          type: string
          nullable: true
          example: "req_01HZXY..."

    CreatePaymentRequest:
      type: object
      required: [amount, currency, destination]
      properties:
        amount:
          type: string
          description: Amount as a decimal string (e.g. "49.99").
          example: "49.99"
        currency:
          type: string
          description: ISO currency or token symbol as supported by Paywaz (e.g. "USD", "USDC").
          example: "USD"
        destination:
          type: string
          description: Destination identifier (wallet address, account ID, or merchant destination).
          example: "merchant_wallet_or_destination_id"
        autoConvert:
          type: boolean
          default: false
          description: If true, Paywaz may auto-convert to a preferred stablecoin.
        metadata:
          type: object
          additionalProperties: true
          description: Arbitrary key/value metadata.
          example:
            invoiceId: "INV-10001"
            customerId: "cus_123"

    Payment:
      type: object
      required: [id, status, amount, currency, createdAt]
      properties:
        id:
          type: string
          example: "pay_01HZXY9M8A3P9"
        status:
          type: string
          enum: [pending, confirmed, settled, failed]
          example: "pending"
        amount:
          type: string
          example: "49.99"
        currency:
          type: string
          example: "USD"
        destination:
          type: string
          nullable: true
          example: "merchant_wallet_or_destination_id"
        transactionHash:
          type: string
          nullable: true
          example: null
        metadata:
          type: object
          additionalProperties: true
          example:
            invoiceId: "INV-10001"
        createdAt:
          type: string
          format: date-time
          example: "2025-01-01T12:00:00Z"

    WebhookEvent:
      type: object
      required: [id, type, eventVersion, livemode, createdAt, data]
      properties:
        id:
          type: string
          example: "evt_01HZXY9M8A3P9"
        type:
          type: string
          enum:
            - payment.pending
            - payment.confirmed
            - payment.settled
            - payment.failed
        eventVersion:
          type: string
          description: Version of the webhook payload schema.
          example: "2025-01-01"
        livemode:
          type: boolean
          example: true
        createdAt:
          type: string
          format: date-time
          example: "2025-01-01T12:00:05Z"
        data:
          type: object
          required: [payment]
          properties:
            payment:
              $ref: "#/components/schemas/Payment"
